$primaryColor: #4527a4;

.wp-block-bpov-block-for-openverse {

	* {
		box-sizing: border-box;
	}

	.modalMainArea {
		background-color: #0a0a0af0;
		bottom: 0;
		left: 0;
		opacity: 1;
		position: fixed;
		right: 0;
		top: 0;
		transition: all .3s ease;
		visibility: visible;
		z-index: 999999;

		.childArea {
			background: #fff;
			height: 100%;
			left: 0;
			margin: 0 auto;
			opacity: 1;
			overflow-x: auto;
			position: fixed;
			right: 0;
			top: 45%;
			transform: translateY(-50%) scale(.8);
			transition: all .3s ease;
			visibility: visible;
			width: 100%;
			z-index: 99999;

			.header {
				display: flex;
				justify-content: space-between;
				margin: 0px 10px;

				h3 {
					margin: 10px 0px;
					font-size: 23px;
					font-weight: 500;
					color: #000;
				}

				.closeIcon {
					width: 40px;
					height: 40px;
					background: #0000005c;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 10px 0px;
					cursor: pointer;
				}
			}

			.twoSideArea {
				display: grid;
				grid-template-columns: 70% 30%;
				padding: 10px 10px 10px 10px;
				border-top: 1px solid rgba(0, 0, 0, 0.3411764706);
				margin-top: 20px;

				.loadMorePre {
					text-align: center;
				}

				.left {
					.bpovMainArea {
						display: grid;
						grid-template-columns: repeat(4, 1fr);
						column-gap: 10px;
						row-gap: 10px;

						.single-item {
							position: relative;
							height: 385px;

							.img {
								width: 100%;
								height: 100%;

								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
								}

								.dummyImage {
									background-color: #ffe033;
									height: 385px;
								}
							}

							.audioIcon {
								position: absolute;
								bottom: 0;
								left: 0;
								background: #00000069;
								width: 40px;
								height: 40px;
								display: flex;
								align-items: center;
								justify-content: center;
								border-radius: 50%;
							}


							.overly {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: #00000057;
								display: flex;
								align-items: center;
								justify-content: center;
								opacity: 0;
								cursor: pointer;
								gap: 10px;

								&:hover {
									opacity: 1;
								}

								.correctIcon {
									width: 35px;
									height: 35px;
									background: #fff;
									display: flex;
									align-items: center;
									justify-content: center;
								}

								.icon {
									position: absolute;
									bottom: 0;
									left: 0;
									height: 30px;
									background-color: #fff;
									margin-left: 10px;
									margin-bottom: 10px;
									padding: 2px;
								}
							}
						}

					}

					.loadMoreBtn,
					.authorLoading {
						background: rgb(0 0 0 / 46%);
						padding: 12px;
						font-size: 20px;
						font-weight: 500;
						margin-top: 5px;
						cursor: pointer;
						text-align: center;
						color: #fff;
					}



				}

				.right {
					.filter {
						h2 {
							margin: 0;
							font-size: 24px;
							font-weight: 500;
							color: #000;
						}

						.licenses {
							margin-top: 25px;

							h3 {
								margin: 0;
								font-size: 18px;
								font-weight: 500;
								color: #000;
								margin-top: 10px;

							}

							.list {
								.single {
									margin-top: 10px;

									label {
										display: flex;
										align-items: center;
									}

									span {
										input {
											width: 20px;
											height: 20px;
										}
									}

									.icon {
										margin-left: 5px;
									}

									.text {
										margin-left: 5px;
										font-size: 17px;
										font-weight: 500;
										text-transform: uppercase;
									}

								}
							}
						}
					}
				}
			}

			.modalCloseBtn {
				display: block;
				text-align: right;
				padding: 10px 10px 10px 10px;
				cursor: pointer;

				h4 {
					background: #96959d;
					padding: 10px 34px;
					margin-top: 20px;
					color: #FFF;
					font-size: 18px;
					font-weight: 500;
					text-align: right;
					display: inline-block;
					margin: 0;
					margin-top: 20px;
					text-transform: uppercase;
					border: none;
				}
			}
		}
	}

	.bpovAuthenticate {
		background: #00000026;
		padding: 16px;
		box-shadow: 0px 1px 1px 3px #00000036;

		.form {
			.components-base-control {
				.components-flex-item {
					label {
						font-size: 14px;
						color: #000;
						font-weight: 500;
						margin-top: 5px;
						text-transform: capitalize;

					}
				}

				input {
					padding: 2px;
					padding: 3px 7px;
					height: 36px;
					border: 1px solid #00000070;
					// border-radius: 3px;
				}

				.components-input-control__backdrop {
					border: none;
				}

			}

			.btn {
				display: inline-block;
				padding: 7px 28px;
				margin-top: 10px;
				border: 1px solid rgba(0, 0, 0, 0.3882352941);
				border-radius: 0px;
				font-size: 16px;
				color: #000;
				background-color: #fff;
				cursor: pointer;
			}
		}

		.bpovnotice {
			font-size: 15px;
			font-weight: 500;
			color: #000;
			margin: 0;
			padding: 0;
		}

		.openverseIcon {
			margin-bottom: 10px;
		}

		.generateBtn {
			position: relative;

			.authorLoading {
				position: absolute;
				right: 0;
				background: #00000057;
				width: 100%;
				height: 100%;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: end;
			}
		}
	}

	.searchForm {
		padding: 10px;
		border: 1px solid #000;
		margin-bottom: 20px;



		.openverseIcon {
			margin-bottom: 10px;
		}

		.subTitle {
			p {
				font-size: 16px;
				font-weight: 400;
				margin: 0 !important;
				padding: 0;

				a {
					color: #046bd2;
				}
			}
		}
	}

	.bpovLoading {
		text-align: center;
	}


}


.bpovPanelBody {

	.deleteToken {
		border: 1px solid #4527a4;
		display: inline-block;
		padding: 4px 8px;
		font-size: 16px;
		font-weight: 400;
		color: #000;
		border-radius: 3px;
		cursor: pointer;
	}
}


.inputFields {

	display: grid;
	grid-template-columns: 70% 24% 5%;
	align-items: center;
	gap: 5px;

	.components-base-control {
		width: 100%;



		.components-flex {
			border-radius: 0px;

			.components-input-control__container {

				input,
				select {
					height: 40px;
					font-size: 18px;
					font-weight: 400;
					color: #000;
				}
			}


		}
	}

	.searchBtn {
		height: 40px;
		border: 1px solid #9d9d9d;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

}

.modalMainArea {

	.modalInputFields {
		margin: 0px 10px;
	}
}


.bpovbPlPanelBody {
	.apiBtn {
		border: 1px solid #00000075;
		margin-top: 10px;
		font-size: 15px;
		padding: 0px;
		height: 30px;
		padding: 3px 6px;
		color: #000;

	}


	p {
		font-size: 14px;
		font-weight: 400;
		color: #000;
		margin: 0;

		span {
			color: red;
		}

	}
}


.bpovnotice {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;

	span {
		color: red;
	}
}